html {
    width:100%;
    overflow-y:hidden;
    overflow-x: scroll;
}    
* {
    box-sizing: border-box;/*보더를 포함한 사이즈가 기준이다. 보더의 두께가 달라도 두께를 포함한 길이가 같게 한다.*/
  }
  /* hide scrollbar /  스크롤바의 width값과 height값을 1px로 한다. */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
/*스크롤바 옆에 뜨는 스크롤 버튼을 1px로 하여 숨긴다.*/
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
body{
    padding: 0px;
    margin: 0px;
    width: 5760px;
    height: 100vh; 
}
#flex{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow-x: scroll; /*흘러넘쳐도 스크롤바*/
}
.background_video{
    height:980px;
    overflow:hidden;/*박스보다 내용이 더 길때 어떻게 처리할 것인지 - 비디오가 크기보다 크면 자른다 라는 말!!!!
    ( visible:기본값으로 내용이 길어도 그대로 보임 /  hidden : 내용이 넘치면 자름, 자른부분은 않보임 / scroll : 내용이 넘치지 않아도 항사 스크롤바 보임 / auto : 내용이 잘릴 때만 스크롤바 보임 */
    margin:0px auto;
    position:relative;/*원래 본래 자리를 기준으로 움직이는 것*/
    z-index: -100;
    animation-name: move2;
    animation-duration: 10s;
}
video{
    width: 1920px;

}
@keyframes move2{
    from{ opacity: 0%;

    }to{
        opacity:100%;
    }
}
header{
    position:fixed;
    top: 0;
    left:0;
    right:0;
    width:1920px;
    height: 120px;
    min-width: 1280px;
    z-index: 990;
}
.row {
    display: inline;
    width:100%;
    text-align: center;
    max-width: 1600px;
    margin:0 auto;
    padding:40px 40px 0;
}
.row img{
    width:80px;
}
header .nav{
    position: absolute;/* 부모태그를 기준으로 움직이는 것 / 부모태그가 relative, absolution, fixed 일때 부모를 따라가지만 없을땐 body를 따라감*/
    top:44px;
    left:70px;
    display: table;/*부모태그에 table선언 자식태그에 table-cell선언으로 하면 동일한 간격으로 버러짐 +아래 fixed 필요*/
    table-layout: fixed; /*동일한 넓이로 넓어진다.*/
}
.row a{
    color: white;
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    padding-right: 50px;
    display: inline;
}
.row svg{
    width: 60px;
    height: 30px;
    color: white;
    padding-left: 20px;
}

header .icon{
    position:absolute;
    top:44px;
    right:70px;
    float: right;
}
#main_title {
    position: absolute;
    top:150px;
    left: 70px;
    z-index: 990;
    animation-name: move;
    animation-duration: 10s;
}
#main_title #title{
    font-family: 'Playfair Display', serif;
    font-size: 120px;
    color: white;
    line-height: 130px;
    margin-bottom: 0;
}
#main_title #sub_title{
    color:white;
    font-size: 18px;
    margin-top: 80px;
}
#content1{
    margin-left:70px;
    background-color: #DFC3B4;
    width: 3840px;
    height: 980px;
    display: flex;
    align-items: flex-start;
    margin:0;
    z-index: -990;

}
#content1_text{
    margin-left: 120px;
}
#content1 h2{
    font-size: 130px;
    font-weight:400;
    font-family: 'Playfair Display', serif;
    color:white;
    margin-bottom: 0;
    padding-top:120px;
}
#content1 h3{
    color:white;
    font-size: 46px;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin-top: 120px;

}

#content1_text .small_text{
    color:white;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10px;
    font-weight: 400;
}
.link_text{
    font-size: 16px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    margin-right:10px;
}
#content1 svg{
    color: white;   
    display: inline-block;
    margin-top:5px;

}
.view_more{
    margin-top: 60px;
    display: flex;
    align-items: center;
    border: 0.3px solid rgba(255, 255, 255, 0.5);
    width:170px;
    justify-content: center;
    height: 50px;
}

@keyframes move{
    0% {  transform: translate(0px, 200px); opacity: 0%;}
    100% { transform: translate(0px, 0px); opacity: 100%;}
}
#new_product{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position:relative;
    left: -200px;
    z-index: -3;
}
#new_product_img{
    height: 980px;
    margin:0;
}
#new_product2_img{
    height:680px;
    margin-left: 100px;
    align-self :  flex-end;
    margin-bottom: 40px;
}

#new_product3_img{
    height:580px;
}
#new_product3{
    align-self :  flex-start;
    margin-top: 100px;
    margin-left: 80px;
    
}
#new_product3 h4{
   font-size: 105px; 
   color: white;
   font-family: 'Playfair Display', serif;
   position:relative;
   left: -150px;
   z-index: 990;
   margin-top:30px;
   margin-bottom: 0;
   font-weight: 400;
}
.small_text{
    color:white;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
#new_product .small_text{
    margin:0;
    font-size: 33px;
    font-weight: 500;
    position:relative;
    left: -150px;
    z-index: 990;
}