* {
box-sizing: border-box;/*보더를 포함한 사이즈가 기준이다. 보더의 두께가 달라도 두께를 포함한 길이가 같게 한다.*/
}

body{
padding: 0px;
margin: 0px;
}
/*네비게이션*/
header{
    position:fixed;
    top: 0;
    left:0;
    right:0;
    width:100%;
    min-width: 1280px;
    z-index: 990;
}
a{
    text-decoration: none;
  }
  a :hover{
    color:#aa5c55;
  }
  .menus :hover{
    color:#aa5c55;
  }
  #logo p{
      margin: 0;
  }
.menus{
    color:#aa5c55;
}
.row {
    display: inline;
    width:1600px;
    text-align: center;
    max-width: 1600px;
    margin:0 auto;
    padding:40px 40px 0;
}
.row img{
    width:80px;
}
header .nav{
    position: absolute;/* 부모태그를 기준으로 움직이는 것 / 부모태그가 relative, absolution, fixed 일때 부모를 따라가지만 없을땐 body를 따라감*/
    top:44px;
    left:70px;
    display: table;/*부모태그에 table선언 자식태그에 table-cell선언으로 하면 동일한 간격으로 버러짐 +아래 fixed 필요*/
    table-layout: fixed; /*동일한 넓이로 넓어진다.*/
}
.row a{
    color: black;
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    padding-right: 50px;
    display: inline;
}
.icon a{
    padding:0;
  }
.row svg{
    width: 60px;
    height: 30px;
    color:black;
    padding-left: 20px;
}

header .icon{
    position:absolute;
    top:52px;
    right:70px;
    float: right;
}
#category{
    margin-top: 200px;
    margin-bottom: 80px;
}
#category ul{
list-style-type:none;
text-align: center;
font-family: 'Playfair Display', serif;
}
#category ul li{
display:inline;
font-size: 25px;
padding-right: 20px;
color:rgb(189, 189, 189);
}
#category ul li:nth-child(1){
    color: #aa5c55;
}
#flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
}
#page ul{
    list-style-type:none;
    text-align: center;
    font-family: 'Playfair Display', serif;
    }

#page ul li{
    display:inline;
    font-size: 50px;
    padding-right: 20px;
    color:black;
    font-weight: 400;

}
#page{
    margin-top: 50px;
}


footer{
    margin-top: 250px;
    background-color: #683A36;
    padding:100px;
    display:flex;
    justify-content: space-between;
}
#company{
    margin-top: 100px;
    color: white;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.7em;
    font-family: 'Noto Sans KR', sans-serif;
}
#footer_menu {
    display: flex;   
    color: white;
}
#footer_menu h3{
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 20px;
}
#customer{
    margin-right: 160px;
}
#help{
    margin-right: 160px;
}
#store{
    margin-right: 160px;
}
#footer_menu ul li{
    padding-bottom: 5px;
    font-weight: 200;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    list-style: none;
}
#footer_menu ul{
    padding-left: 0;

}
#flex img{
    width: 500px;
    height: 500px;
}
.product1{
    margin-bottom: 70px;
    margin-left: 20px;
}
.product1 img:nth-child(2){display:none;}
.product1:hover img:first-child{display:none;}
.product1:hover img:nth-child(2){display:block;}

.product_name{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}
.product_price{
    font-family: 'Playfair Display', serif;
    color:gray;
}